LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com (아시아 설정시)
LANGSMITH_API_KEY=키-입력
LANGSMITH_PROJECT=프로젝트-이름-입력

LLM_PROVIDER=google
GOOGLE_MODEL=모델이름
GOOGLE_API_KEY=키-입력

LLM_PROVIDER=ollama
OLLAMA_MODEL=llama3.2