LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

LLM_PROVIDER=google
GOOGLE_MODEL=
GOOGLE_API_KEY=

LLM_PROVIDER=ollama
OLLAMA_MODEL=llama3.2

OPENAI_API_KEY = 

ANTHROPIC_API_KEY = 


# https://build.nvidia.com/
# NVIDIA NIM
NVIDIA_API_KEY=
NVIDIA_MODEL=